/**************************************/
/*************Light Mode***************/
/**************************************/
$BackgroundColor: #F5F5F4;
$BackgroundColorOpacity: #f5f5f473;
$Platinum: #2B2B2B;
$FirstText: #000000;
$ShadowBlue: #778DA9;
$BrightNavyBlue: #77A6E4;
$SecondText: rgba(0, 0, 0, 0.4);



/**************************************/
/**************Dark Mode***************/
/**************************************/
$BackgroundColorDark: #2B2B2B;
$BackgroundColorDarkOpacity: #2b2b2b47;
$PlatinumDark: #F5F5F4;
$FirstTextDark: #fff;
$SecondTextDark: rgba(255,255,255,0.6);