.App{
  background-image: url('./assets/background_home_light.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.AppDark{
  background-image: url('./assets/background_home_black.jpg');
}
